---
sot:
  api_endpoint: "http://127.0.0.1:8000"

files:
  prefixe:
    repo: sot_data
    filename: defaults/prefixe.yaml
  defaults:
    repo: sot_data
    filename: defaults/defaults.yaml
  sites:
    repo: sot_data
    filename: defaults/sites.yaml
